# Ignore everything
**

# Allow directories to traverse
!*/

# Source code
!*.py

# Config & docs
!.gitignore
!requirements.txt
!*.md
!*.json

# Data files
!*.xlsx
!*.xls
!data/
!data/**

# Experiment outputs
!runs/
!runs/**

# Source package
!src/
!src/**

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
env/**
venv/
venv/**
