# Ignore everything
**

# Allow .py files
!*.py

# Allow directories to check for .py files
!*/

# Include the .gitignore file itself
!.gitignore

# Include requirements file
!requirements.txt

# xlsx files
!*.xlsx
!*.xls

# Optional: Ignore common Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
